html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    /* background: linear-gradient(120deg, #ecdeb1 0%, #e8e8e8 100%); */
    background: radial-gradient(circle at Bottom right, #72a8ce, #c0cfdd 50%, #ffffff 100%);
}

/* Define the navbar */
/* Full navbar container */
.nav-container {
    background: #fff;
    /* linear-gradient(to right, #ffffff, #f2f2f2) */
    border-radius: 40px;
    display: inline-block;
    padding: 10px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Set the shape of the links as Pill */
.nav-pills .nav-link {
    border-radius: 20px;
    color: #555;
    /* Text color */
    margin: 0 5px;
    /* Space between links */
    padding: 10px 20px;
    /* Internal space */
    transition: all 0.3s ease;
    /* Smooth effect */
    font-weight: 500;
    /* Medium font weight */
}

/* Background color on hover */
.nav-pills .nav-link:hover {
    background: #f1f1f1 ;
}

/* Active item */
.nav-pills .nav-link.active {
    background: #333;
    color: #fff;
}

